{% extends 'base.html.twig' %}

{% block body %}

    <h1>Karolio Kraujelio namų darbai, panaudojant Doctrine.</h1>
    <hr>

    <h4>Buvo sugeneruota nauja kategorija, su nauju produktu.</h4>
    <a href="{{ path('delete', { "id": product.id }) }}">Ištrinti produktą!</a>
    <a href="{{ path('homepage') }}">Grįžti į pradžią!</a>

{% endblock %}

{% block stylesheets %}
<style>

    body {

        text-align: center;

    }

    a {

        display: block;

    }

</style>
{% endblock %}
